**Formal verification can be used to prove the absence of errors**. In contrast, testing can only prove the presence of errors, not their absence.

It requires highly specialized notations and knowledge which makes it an expensive technique to administer. Therefore, **formal verifications are more commonly used in safety-critical software such as flight control systems**.