**Quality Assurance = Validation + Verification**

1.  Validation: are you _building the right system_ i.e., are the requirements correct?
2.  Verification: are you _building the system right_ i.e., are the requirements implemented correctly? (eg. no bugs?)

Whether something belongs under validation or verification is not that important. **What is more important is that both are done, instead of limiting to only verification**.